$darkBlue: linear-gradient(156.15deg, #000000 27.04%, rgba(51, 0, 255, 0.7) 105.17%);
$darkPurple: linear-gradient(165.18deg, #000000 19.54%, #6516B4 86.91%);
$orangeRed: linear-gradient(190.02deg, #FFC700 -22.76%, #DD0808 77.82%);
$textShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$boxShadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
}

.page-light {
    position: relative;
    width: 100%;
    height: 1024px;
    background: linear-gradient(180deg, #00A2FD 0%, rgba(255, 255, 255, 0) 16.15%), linear-gradient(180deg, rgba(255, 255, 255, 0.71) 75.52%, #B1E4DA 100%);
}

.wrapper-menu {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background: $darkBlue;
    background-repeat: no-repeat;
}

.logo {
    // position: absolute;
    width: 54px;
    height: 86px;
    left: 150px;
    top: 22px;
}

.wrapper {
    width: 1140px;
    height: 144px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    margin-top: 15px;
    &-nav {
        list-style-type: none;
        display: flex;
    }
    &-ico {
        margin-left: 13px;
        align-items: center;
    }
}

.nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    &-item {
        margin-left: 35px;
    }
    &-link {
        text-decoration: none;
        color: white;
        font-size: 36px;
        font-weight: 600;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}

.block {
    h1 {
        color: white;
        text-align: center;
        font-weight: 700;
        font-size: 55px;
        text-shadow: $textShadow;
        padding: 70px;
    }
    &-ellipse1 {
        background-image: url(/img/Ellipse1.svg);
        background-repeat: no-repeat;
        width: 662.96px;
        height: 338.35px;
    }
}